<fieldset class="form-group checkbox">
    <legend>{{include.label}}</legend>
    {%- if include.validation %}
    <input type="hidden" value="{{include.validation | lowercse}}">
    <label class="response-label" hidden></label>
    {%- endif %}
    <div class="multiple-choise-container" data-random="{{include.randomize | lowercse}}">
    {%- assign options = include.options | split: ", " -%}
    {%- for option in options %}
        <label class="multiple-choise-option checkbox"><input type="checkbox" value="{{forloop.index}}" name="{{include.id}}">{{option}}</label>
    {%- endfor %}
    </div>
</fieldset>