---
layout: default
---

<h1>{{page.onPageTitle}}</h1>

<ul>
    <li>Til kursisten</li>
    <li>Til læreren</li>
</ul>

<div class="student">
    {% assign lessoninto = site.paasiviuk_introductions | where: 'lesson', page.lesson | first %}
    <div>{{lessoninto.content}}</div>

    <div>[øvelser]</div>

    <div>[guldkorn]</div>

    {% assign studynotes = site.paasiviuk_studynotes | where: 'lesson', page.lesson | first %}
    <details>
        <summary>Selvstudie</summary>
        {{studynotes.content}}
    </details>

    <fieldset>
        <label for="lesson-date">Lektion gennemført</label>
        <input type="date" id="lesson-date">
    </fieldset>
</div>

{% assign teachernotes = site.paasiviuk_teachernotes | where: 'lesson', page.lesson | first %}
<div class="teacher">
    {{teachernotes.content}}
</div>

<div>
    <a href="#">Forrige</a>
    <a href="#">Næste</a>
</div>